RewriteEngine On RewriteCond %{REQUEST_FILENAME} !-f RewriteCond %{REQUEST_FILENAME} !-d RewriteRule ^(.*)$ index.php?seccion=$1 [QSA,L] # Proteger carpeta admin <Files "config.php"> Order Allow,Deny Deny from all </Files>
